.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .relative:hover .menu-dropdown {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .menu-dropdown li {
    list-style: none;
  }
  
  .menu-dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .menu-dropdown a:hover {
    background-color: #8C09FF;
    color: white;
  }
  