/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body {
  margin: 0;
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Great Vibes', cursive;
} */
.spinner {
  animation: spin 1s linear infinite; /* Añade la animación de giro al spinner */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal {
  animation: slideOutRight 0.5s ease-in-out forwards; /* Añade la animación de salida al modal */
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.swal2-container {
  z-index: 10000; /* Ajusta este valor según sea necesario */
}
